
body{

}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.navigation{
    background-color:#363537;
    border: 1px solid rgb(228, 223, 223);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.navigation .container .content .menu-box img{
    height: 30px;
    width: auto;
    mix-blend-mode: multiply;
}
.common-mega-design{
    position: absolute;
    top: 85px;
    width: 60%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.mega-box{
    left:40px;
    visibility: hidden;
}
.find-mega-box{
    left: 200px;
    visibility: hidden;

}
.Hire-freelancer:hover .mega-box{
    visibility: visible;
}
.find-freelancer:hover .find-mega-box{
    visibility: visible;
}
.mega-box .mega-content{
    background-color: #031015;
    padding: 25px 20px;
}
.find-mega-box .mega-content{
    background-color: #031015;
    padding: 25px 20px;
}
.mega-box .mega-content .middle-side .card img{
    height: 120px;
}
.container .content  .find-mega-box .middle-side .card img{
    height: 120px;
}

.mega-box .mega-content .middle-side .card div{
    height: 60px;
}


.navigation .container .content .menu-box ul li{
    margin-left: 30px;
}
.navigation .container .content .others ul li a{
    margin-left: 30px;
}

.navigation .container .content .others ul li a.btn-post{
    padding:8px 15px;
    background-color: #E60278;
    border-radius: 5px;
}
.navigation .container .content .others ul li a.btn-post:hover{
    background-color: #96034f;
}