.container{
    margin: 200px 300px;
}
.container .content .others{
    width: 600px;
}
.container .content .form-container{
    width: 400px;
}
.container .content .login-card{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.container .content .login-card form input{
    padding: 14px 16px;
    font-size: 17px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
}
.container .content .login-card form button{
    padding: 14px 16px;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
.create-account{
    background-color: #42b72a;
    padding: 14px 16px;
    border-radius: 6px;
    cursor: pointer;
    margin: 6px auto;
    width: fit-content;
}